@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #27ae60;
  --black: #2c2c54;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

::selection {
  background: var(--green);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--green);
  color: #fff;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--black);
}

.header-1 {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 3rem;
}

.logo i {
  padding-right: 0.5rem;
  color: var(--green);
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3.5rem;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.header-1 .search-box-container {
  display: flex;
  height: 5rem;
}

.header-1 .search-box-container #search-box {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.header-1 .search-box-container label {
  height: 100%;
  width: 8rem;
  font-size: 2.5rem;
  line-height: 5rem;
  color: #fff;
  background: var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover {
  background: var(--black);
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.header-2 .navbar a {
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: var(--black);
}

.header-2 .navbar a:hover {
  background: var(--green);
  color: #fff;
}

.header-2 .icons a {
  font-size: 2.5rem;
  color: var(--black);
  padding-left: 1rem;
}

.header-2 .icons a:hover {
  color: var(--green);
}

#menu-bar {
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--black);
  padding: 0.8rem 1.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.home .content {
  text-align: center;
}

.home .content h3 {
  font-size: 4rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 40rem;
  padding-top: 5rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 40rem;
}

.home .content span {
  font-size: 3rem;
  color: #666;
}

.home .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.banner-container .banner {
  flex: 1 1 40rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-container .banner:hover img {
  transform: scale(1.2) rotate(-5deg);
}

.category .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.category .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  flex: 1 1 25rem;
}

.category .box-container .box img {
  width: 20rem;
  margin: 0.5rem 0;
}

.category .box-container .box h3{
    font-size: 3.5rem;
    color:var(--black);
}

.category .box-container .box p{
    font-size: 2rem;
    color: #666;
    padding:  0.5rem 0;

}

.category .box-container .box .btn{
    display: block;
}

.category .box-container .box .banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.banner-container .banner .content p {
  font-size: 2rem;
  color: #333;
}

/* media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header-1,
  .header-2 {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header-2 .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    padding: 1rem 2rem;
    display: none;
  }

  .header-2 .navbar.active {
    display: initial;
  }

  .header-2 .navbar a {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    background: #fff;
    padding: 1rem;
    margin: 1.5rem 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading{
      font-size: 3rem;
  }

  .header-1 .search-box-container {
    width: 100%;
    margin-top: 2rem;
  }

  .logo {
    font-size: 4rem;
  }
}
